<div class="bassboard" ng-controller="BassBoard as bass">

<div class="header">
  <h1 id="bb">_Board</h1>

  <ul id="options">
    <li class="bmt">Bass</li>
    <li class="bmt">Midd</li>
    <li class="bmt">Treb</li>
  </ul>

</div>

<div class="audioWrap">
  <h3>Song Demo</h3>
  <audio controls the-song>
    <source src="assets/mp3/bassboard.mp3" type="audio/mpeg">
  </audio>
</div>


<!-- FILTER ROUNDS number TO CLOSEST WHOLE NUMBER -->
<!-- <button ng-click="getTime(timeElapsed)" type="button" name="button">Add Comment</button> -->

<div class="postWrap">

  <!-- <span id="timeH"><i class="fa fa-clock-o fa-4x" aria-hidden="true"></i></span><span id="commH"><i class="fa fa-commenting-o fa-4x" aria-hidden="true"></i></span> -->

  <form ng-submit="postComment()" ng-repeat="post in comment.posts" class="comments" method="post">
    <input id="currentTime" type="text" name="name" value="" ng-model="time" placeholder="{{timeElapsed}}">
    <input id="commentBox" type="text" name="name" value="" ng-model="note">
    <input id="submit" type="submit" name="submit" value="Post">
    <a href ng-click="deletePost($index)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a>
  </form>

  <!-- <ul id="commentsUl">
    <li class="posts" ng-repeat="post in comment.posts">
      <div class="postTime">
        {{post.time}}
      </div>
      <div class="postNote">
        {{post.note}}
      </div>
      <a href ng-click="deletePost($index)">-</a>
    </li>
  </ul> -->

</div>

</div>
